*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(216, 12%, 8%);
    color: #ffffff;
    font-family: outfit ;
  
}

.main-container{
    max-width: 1440px; 
}
#rating h2{
    margin: 15px;
    word-spacing: 5px;
    font-weight: 700;
}
#rating img{
    margin: 15px;
    padding: 20px;
    border-radius: 50%;
    background-color: hsl(212, 15%, 23%);
}
#rating{
    border-radius: 20px;
    margin: 11em auto;
    max-width: 25em;
    padding: 1em;
    background-color: hsl(213, 19%, 18%);
  
}
#rating p{
    font-size: 15px;
    line-height: 25px;
    margin: 15px;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex button{
    background-color: hsl(212, 15%, 23%);
    border: none;
    border-radius: 50%;
    padding: px;;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

.flex button:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}
.flex button:active{
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 12%, 63%);
}
button{
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    font-weight: 400;
    width: 90%;
    padding: 15px;
    margin: 15px;
    font-weight: 700;
    border: none;
}
button:hover{
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}
#thankyou{
    border-radius: 20px;
    margin: 11em auto;
    max-width: 25em;
    padding: 1em;
    background-color: hsl(213, 19%, 18%);
}

#thankyou h3{
    color: hsl(25, 97%, 53%);
    text-align: center; 
}
#spanText{
    background-color: hsl(212, 15%, 23%);
    border-radius: 20px;
    padding: 4px;
}

#thankyou p{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin: 15px;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

#thankyou h2{
    text-align: center;
    margin: 15px;
    word-spacing: 5px;
    font-weight: 700;
}
#thankyou img{
   max-width: 100%;
   height: auto;
   margin: 2em;
   padding: 0;
}


.attribution { 
    font-size: 11px; 
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); 
}

@media (max-width:320px ) {
    .flex{
       display: block;
    }

    button{
        color: hsl(0, 0%, 100%);
        background-color: hsl(25, 97%, 53%);
        border-radius: 20px;
        width: 90%;
        font-weight: 700;
        border: none;
        font-weight: 400;
    }
    .flex button{
        background-color: hsl(212, 15%, 23%);
        border: none;
        border-radius: 20%;
        color: hsl(217, 12%, 63%);
        font-weight: 400;
    }
}